@import url(fontawesome.css);
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

body {
  font-family: 'Lato', sans-serif;
}

#page-wraper {
  background: url(../images/page/page_background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}


/* Basic */
html {
  scrollbar-color: #abc8ff #1c2b48;
}

body {
  overflow-x: hidden;
}

input,
select,
textarea {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

h4 {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.25px;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

img {
  width: 100%;
  overflow: hidden;
}

ul {
  font-size: 18px;
  padding: 0;
  margin: 0 2em;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.container {
  margin: 0 auto;
}

.main-nav {
  text-align: center;
}

.main-nav li:last-child a {
  border-bottom: 2px solid #fff;
}

.main-nav li {
  display: block;
}

.main-nav li a {
  height: 70px;
  line-height: 70px;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  width: 100%;
  transition: all 0.5s;
  border-top: 2px solid #fff;
}

.main-nav li:hover a {
  background: #d6ceff;
  color: #1c2b48
}

.main-nav li.active a {
  background: #ffffff;
  color: #1c2b48
}

/* Sidebar Menu */

.menu .image {
  margin-top: 60px;
}

.menu .image img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  text-align: center;
}

.menu .author-content {
  margin: 40px 0px 60px 0px;
}

.menu .author-content h4 {
  margin-bottom: 0px;
}

.menu .author-content span {
  font-size: 13px;
  font-style: italic;
  color: #fff;
}

.menu .social-network {
  margin-top: 60px;
}

.menu .social-network ul li {
  margin: 0 3px;
  list-style: none;
  display: inline-block;
}

.menu .social-network ul li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  transition: all 0.5s;
}

.menu .social-network ul li a:hover {
  background-color: #fff;
  color: #1c2b48;
}

.menu .copyright-text {
  position: relative;
  margin-top: 60px;
}

.menu .copyright-text p {
  border-top: 1px solid rgba(250, 250, 250, 0.1);
  display: inline-block;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  font-size: 13px;
}

.menu:before,
.menu:after {
  content: "";
  display: table;
}

.menu:after {
  clear: both;
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.menu {
  text-align: center;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu {
  left: 10%;
  transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
  -webkit-overflow-scrolling: touch;
  background-color: #1c2b48;
  box-sizing: border-box;
  height: 100vh;
  max-height: 100vh !important;
  max-width: 80vw !important;
  min-width: 45px !important;
  outline: none;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: 0;
  position: fixed !important;
  top: calc(0px);
  width: 20%;
  will-change: transform;
  z-index: 9999 !important;
}

.menu-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  position: fixed;
  right: 25px;
  top: 25px;
}

#menu-toggle {
  z-index: 999;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  color: #1c2b48;
  background-color: #abc8ff;
  width: 60px;
  height: 60px;
  text-align: center;
  display: inline-block;
  line-height: 60px;
}

.menu-close {
  cursor: pointer;
}

#menu-close {
  cursor: pointer;
  text-align: right;
  color: #1c2b48;
  background-color: #abc8ff;
  width: 100%;
  height: 60px;
  text-align: center;
  display: inline-block;
  line-height: 60px;
}


/* Buttons */

.white-button a {
  display: inline-block;
  padding: 12px 20px;
  background-color: #fff;
  color: #1c2b48;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.5s;
}

.white-button a:hover {
  background-color: #1c2b48;
  color: #fff;
}

button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #1c2b48;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.5s;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover {
  outline: none;
  background-color: #1c2b48;
  color: #fff;
}

/* Section */

.section {
  color: #fff;
  width: 55%;
  right: 10%;
  left: 35%;
  position: relative;
  /*min-height: 100vh;*/
  padding-bottom: 60px;
  border-bottom: 3px solid rgba(250, 250, 250, 0.25);
}

.section:last-child {
  border: none;
}

.section-heading {
  text-align: center;
  padding: 40px 45px;
}

.section-heading h2 {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
}

.section-heading .line-dec {
  width: 4.5em;
  height: 3px;
  background-color: #1c2b48;
  margin: 10px auto;
}

.section-heading span {
  margin-top: 5px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.5px;
}


.section-item {
  width: 100%;
  margin-bottom: 10px;
  padding: 40px;
  background-color: rgba(250, 250, 250, 0.1);
  transition: all 0.5s;
}

.section-item h4 {
  transition: all 0.5s;
}

.section-item h5 {
  font-style: italic;
  transition: all 0.5s;
  margin-bottom: 0.8em;
}

.section-item p {
  transition: all 0.5s;
}

.section-item ul {
  transition: all 0.5s;
}

.section-item a {
  color: lightblue;
  transition: all 0.5s;
}

.section-item:hover {
  background-color: rgba(232, 239, 255, 0.8);
}

.section-item:hover h4 {
  color: black;
}

.section-item:hover h5 {
  color: black;
}

.section-item:hover p {
  color: black;
}

.section-item:hover ul {
  color: black;
}

.section-item:hover a {
  color: rgb(2, 100, 197);
}

.section-item:hover .project-button button {
  background-color: rgb(22, 55, 119);
}

.section-item:hover .project-button button:hover {
  background-color: #5884ac;
}

.section-item .service-icon {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 4em;
  display: inline-block;
  margin-bottom: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s;
}

.section-item .snb-logo {
  width: 6em;
  height: 3em;
  background-image: url(../images/work-experience/snb.png);
}

.section-item .eth-logo {
  width: 7em;
  height: 2em;
  background-image: url(../images/education/eth_logo_kurz_neg.svg);
}

.section-item:hover .eth-logo {
  background-image: url(../images/education/eth_logo_kurz_pos.svg);
}



@media screen and (max-width: 1680px) {
  .menu {
    left: 5%;
  }

  .section {
    color: #fff;
    width: 65%;
    right: 5%;
    left: 30%;
  }
}

@media screen and (max-width: 1680px) and (min-width: 846px) {
  .menu .social-network ul li a {
    width: 36px;
    height: 36px;
    line-height: 36px;
  }

  .menu .social-network ul li {
    margin: 0;
  }

  .menu .image {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1280px) {
  .menu {
    left: 0%;
  }
}

.menu .container {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 1280px) and (min-width: 846px) {
  .menu {
    width: 25%;
  }
}

#menu-toggle,
#menu-close {
  display: none;
}

@media screen and (max-width: 845px) {

  #menu-toggle,
  #menu-close {
    display: inline-block;
  }

  .menu {
    width: 320px;
    -webkit-transform: translateX(-100%) !important;
    transform: translateX(-100%) !important;
    transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
    transition: transform 233ms cubic-bezier(0, 0, 0.21, 1), -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
  }

  .menu .image {
    margin-top: 40px;
  }

  .menu .image img {
    width: 120px;
    height: 120px;
  }

  .menu .author-content {
    margin: 20px 0px 40px 0px;
  }

  .menu .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu.open {
    display: inline-block;
    -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
  }

  .responsive-nav {
    display: inline-block;
  }

  .section {
    width: 94%;
    right: 3%;
    left: 3%;
  }

  .section-heading {
    padding: 20px 12px;
  }  

  .section-item {
    padding: 12px;
  }

  .container {
    padding: 8px 0;
  }
}