.project-button {
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.project-button button {
  background-color: rgba(8, 59, 162, 0.5);
  color: #fff;
  width: 12em;
  font-size: 14px;
  padding: 0.5em;
}

.project-button i {
  padding-right: 0.6em;
}

.project-button-spacing {
  display: none;
}

@media screen and (max-width: 600px) {
  .project-button-spacing {
    display: inline;
  }
}

.project-img {
  border: thin solid whitesmoke;
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

@media screen and (max-width: 600px) {
  .project-img {
    width: 100%
  }
}

.project-skills {
  padding-bottom: 0.4em;
  margin-bottom: 0.4em;
  border-bottom-color: whitesmoke;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  font-size: 85%;
}